    /* GOOGLE FONTS(Ubuntu Mono) */

    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    /* GOOGLE FONTS(Poppins) */

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    /* GOOGLE FONTS(Ubuntu) */

    @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    /* VARIABLES CSS */

    :root {
        --header-height: 48px;
        /* Colors */
        --hue-color: 0;
        /* HSL Color Mode */
        --first-color: hsl(var(--hue-color), 0%, 100%);
        --first-color-second: hsl(var(--hue-color), 0%, 39%);
        --first-color-alt: hsl(var(--hue-color), 0%, 60%);
        --first-color-lighter: hsl(var(--hue-color), 0%, 15%);
        --title-color: hsl(var(--hue-color), 0%, 80%);
        --text-color: hsl(var(--hue-color), 0%, 55%);
        --text-color-light: hsl(var(--hue-color), 0%, 55%);
        --input-color: hsl(var(--hue-color), 0%, 4%);
        --body-color: hsl(var(--hue-color), 0%, 1%);
        --container-color: #000;
        --scroll-bar-color: hsl(var(--hue-color), 0%, 15%);
        --scroll-thumb-color: hsl(var(--hue-color), 0%, 30%);
        /* Font and Typography */
        --body-font: 'Ubuntu', sans-serif;
        --big-font-size: 32px;
        --h1-font-size: 26px;
        --h2-font-size: 21px;
        --h3-font-size: 18px;
        --normal-font-size: 16px;
        --small-font-size: 15px;
        --smaller-font-size: 13px;
        /* Font Weight */
        --font-medium: 600;
        --font-semi-bold: 700;
        /* Margenes Bottom */
        --mb-0-25: 4px;
        --mb-0-5: 8px;
        --mb-0-75: 12px;
        --mb-1: 16px;
        --mb-1-5: 24px;
        --mb-2: 32px;
        --mb-2-5: 40px;
        --mb-3: 48px;
        /* Z Index */
        --z-tooltip: 10;
        --z-fixed: 100;
        --z-modal: 1000;
    }

    /* Font size for large devices */

    @media screen and (min-width: 968px) {
        :root {
            --big-font-size: 48px;
            --h1-font-size: 32px;
            --h2-font-size: 26px;
            --h3-font-size: 21px;
            --normal-font-size: 18px;
            --small-font-size: 16px;
            --smaller-font-size: 14px;
        }
    }

    /* BASE */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
        cursor: url(../img/arrow.png), default;
    }

    body {
        margin: 0 0 var(--header-height) 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--body-color);
        color: var(--text-color);
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
    }

    p {
        cursor: url(../img/select.png), auto;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        cursor: url(../img/link.png), pointer;
    }

    i {
        font-style: normal;
    }

    /* REUSABLE CSS CLASSES */

    .section {
        padding: 32px 0 64px;
    }

    .section__title {
        font-size: var(--h1-font-size);
    }

    .section__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
    }

    .section__title,
    .section__subtitle {
        text-align: center;
    }

    /* LAYOUT */

    .container {
        max-width: 1024px;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .grid {
        display: grid;
        gap: 24px;
    }

    .header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
    }

    /* NAV */

    .nav {
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo,
    .nav__toggle {
        color: var(--title-color-light);
        font-weight: var(--font-semi-bold);
        font-size: var(--h3-font-size);
        font-family: 'Poppins', sans-serif;
    }

    .nav__logo:hover {
        color: var(--first-color);
    }

    .nav__toggle {
        font-size: 16px;
        cursor: pointer;
    }

    .nav__toggle:hover {
        color: var(--first-color);
    }

    @media screen and (max-width: 767px) {
        .nav__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--body-color);
            padding: 32px 24px 64px;
            box-shadow: 0 -1px 4px var(--first-color-lighter);
            border-radius: 32px 32px 0 0;
            transition: .5s;
        }
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--normal-font-size);
        color: var(--title-color-light);
        font-weight: var(--font-medium);
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .nav__icon {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        text-align: center;
    }

    .nav__close {
        position: absolute;
        right: 21px;
        bottom: 8px;
        font-size: 24px;
        cursor: pointer;
        color: var(--first-color);
    }

    .nav__close:hover {
        color: var(--first-color-alt);
    }

    /* Show menu */

    .show-menu {
        bottom: 0;
    }

    /* Active link */

    .active-link {
        color: var(--first-color);
    }

    /* Change background header */

    .scroll-header {
        box-shadow: 0 -1px 4px var(--first-color-alt);
    }

    /* IMG */

    .profile-img{
            max-width: 100%;
            height: auto;
            aspect-ratio: 1/0.88;
            display: block;
            object-position:center;
            object-fit: contain;
    }

    img {
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/.77;
        display: block;
        object-position:center;
        object-fit: cover;
    }

    .blur-load:before{
        content: "";
        position: absolute;
        inset: 0;
        animation: pulse 2.5s infinite;
    }

    .blur-load.loaded:before{
        content: none;
    }

    @keyframes pulse{
        0% {
            background-color: rgba(255, 255, 255, 0);
        }
        50% {
            background-color: rgba(255, 255, 255, 0.2);
        }
        10% {
            background-color: rgba(255, 255, 255, 0);
        }
    }

    .blur-load {
        position: relative;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }

    .blur-load.loaded > img {
        opacity: 1;
    }

    .blur-load > img {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    
    /* HOME */

    .home__container {
        gap: 16px;
    }

    .home__content {
        grid-template-columns: .5fr 3fr;
        padding-top: 56px;
        align-items: center;
    }

    .home__social {
        display: grid;
        grid-template-columns: max-content;
        row-gap: 15px;
    }

    .home__social-icon {
        font-size: 28px;
        color: var(--first-color);
        opacity: 0.9;
    }

    .home__social-icon:hover {
        color: var(--first-color-alt);
        opacity: 1;
    }

    .home__blob {
        width: 200px;
        fill: var(--first-color);
    }

    .home__blob-img {
        width: 170px;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__title {
        font-size: var(--big-font-size);
        color: var(--first-color);
        margin-bottom: var(--mb-0-25);
    }

    .home__subtitle {
        font-size: var(--h3-font-size);
        color: var(--text-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-5);
    }

    .home__description {
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-2)
    }

    .home__scroll {
        display: none;
        margin: var(--mb-0-5);
    }

    .home__scroll-button {
        border-radius: 8px;
        color: var(--first-color);
        box-shadow: 0 0 3px 1px white;
        padding: 6px;
        transition: 0.3s;
    }

    .home__scroll-button:hover {
        transform: translateY(8px);
    }

    .home__scroll-mouse {
        font-size: 32px;
    }

    .home__scroll-name {
        font-size: var(--normal-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
        margin-right: var(--mb-0-25);
    }

    .home__scroll-arrow {
        font-size: 24px;
    }

    /* BUTTON */

    .button {
        display: inline-block;
        background-color: var(--first-color);
        color: #000;
        padding: 16px;
        border: none;
        border-radius: 8px;
        font-weight: var(--font-medium);
    }

    .button:hover {
        background-color: var(--first-color-alt);
    }

    .button__icon {
        font-size: 20px;
        margin-left: var(--mb-0-5);
        transition: 0.5s;
    }

    .button--flex {
        display: inline-flex;
        align-items: center;
    }

    /* ABOUT */

    .about__img {
        width: 200px;
        border-radius: 8px;
        justify-self: center;
        align-self: center;
    }

    .about__description {
        text-align: justify;
        margin-bottom: var(--mb-3);
    }

    .about__info {
        display: flex;
        justify-content: space-evenly;
        margin-top: var(--mb-3);
    }

    .about__info-title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }

    .about__info-name {
        font-size: var(--small-font-size);
    }

    .about__info-title,
    .about__info-name {
        display: block;
        text-align: center;
    }

    .about__buttons {
        display: flex;
        justify-content: center;
    }

    /* SKILL */

    .skills__container {
        row-gap: 0;
    }

    .skills__header {
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2-5);
        cursor: url(../img/link.png), pointer;
    }

    .skills__icon,
    .skills__arrow {
        font-size: 32px;
        color: var(--first-color);
    }

    .skills__icon {
        margin-right: var(--mb-0-75);
    }

    .skills__title {
        font-size: var(--h3-font-size);
    }

    .skills__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    .skills__arrow {
        margin-left: auto;
        transition: 0.5s;
    }

    .skills__list {
        row-gap: 28px;
        padding-left: 42px;
    }

    .skills__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--mb-0-5);
    }

    .skills__name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .skills__bar,
    .skills__percentage {
        height: 8px;
        border-radius: 5px;
    }

    .skills__bar {
        background-color: var(--first-color-lighter);
    }

    .skills__percentage {
        display: block;
        background-color: var(--first-color);
    }

    /* Forntend Developer */

    .skills__html {
        width: 90%;
    }

    .skills__css {
        width: 80%;
    }

    .skills__dart {
        width: 70%;
    }

    .skills__js {
        width: 50%;
    }

    /* Backend Developer */

    .skills__java {
        width: 60%;
    }

    .skills__py {
        width: 50%;
    }

    .skills__cpp {
        width: 60%;
    }

    .skills__mysql {
        width: 80%;
    }

    /* Additional Skills */

    .skills__photoshop {
        width: 70%;
    }

    .skills__video-editing {
        width: 80%;
    }

    .skills__excel {
        width: 60%;
    }

    .skills__close .skills__list {
        height: 0;
        overflow: hidden;
    }

    .skills__open .skills__list {
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }

    .skills__open .skills__arrow {
        transform: rotate(-180deg);
    }

    /* QUALIFICATION */

    .qualification__tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2);
    }

    .qualification__button {
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        color: hsla(0, 0%, 100%, 0.65);
        cursor: url(../img/link.png), pointer;
    }

    .qualification__button:hover {
        color: var(--first-color);
    }

    .qualification__icon {
        font-size: 28px;
        margin-right: var(--mb-0-25);
    }

    .qualification__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 24px;
    }

    .qualification__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-25);
    }

    .qualification__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }

    .qualification__calendar {
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    .qualification__rounder {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    .qualification__line {
        display: block;
        width: 2px;
        height: 100%;
        background-color: var(--first-color);
        transform: translate(6.5px, -6.5px);
    }

    .qualification [data-content] {
        display: none;
    }

    .qualification__active[data-content] {
        display: block;
    }

    .qualification__button.qualification__active {
        color: var(--first-color);
    }

    /* PROJECTS */

    .project__container {
        overflow: initial;
    }

    .project__content {
        padding: 0 24px;
    }

    .project__img {
        width: 275px;
        border-radius: 8px;
        justify-self: center;
        image-rendering: auto;
    }

    .project__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-5);
    }

    .project__description {
        margin-bottom: var(--mb-0-75);
    }

    .project__button:hover .button__icon {
        transform: translateX(3px);
    }

    /* Swiper */

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: '';
    }

    .swiper-project-icon {
        font-size: 36px;
        color: var(--first-color);
    }

    .swiper-button-prev {
        left: -10px;
        top: 210px;
    }

    .swiper-button-next {
        right: -10px;
        top: 210px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -40px;
    }

    .swiper-pagination-bullet {
        background: var(--first-color);
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination-bullet {
        outline: none;
        cursor: url(../img/link.png), pointer;
    }

    /* CONTACT ME */

    .contact__container {
        row-gap: 48px;
    }

    .contact__information {
        display: flex;
        margin-bottom: var(--mb-2);
    }

    .contact__icon {
        font-size: 32px;
        color: var(--first-color);
        margin-right: var(--mb-0-75);
    }

    .contact__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }

    .contact__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    .contact__content {
        background: var(--input-color);
        border-radius: 16px;
        padding: 12px 16px 4px;
    }

    .contact__content:focus-within {
        box-shadow: 2px 3px 6px 0.1px rgba(255, 255, 255, 0.8);
    }

    .contact__label {
        font-size: var(--normal-font-size);
        color: var(--title-color);
        position: relative;
    }

    .contact__input {
        width: 100%;
        background: var(--input-color);
        color: var(--title-color);
        font-family: var(--body-font);
        font-size: var(--small-font-size);
        border: none;
        outline: none;
        padding: 4px 8px 8px 0;
        cursor: url(../img/select.png), auto;
    }

    .contact__input__dial {
        width: 100%;
        background: var(--input-color);
        color: var(--title-color);
        font-family: var(--body-font);
        font-size: var(--small-font-size);
        border: none;
        outline: none;
        padding: 4px 8px 8px 8px;
        cursor: url(../img/select.png), auto;
    }

    .contact__input__mobile {
        width: 100%;
        background: var(--input-color);
        color: var(--title-color);
        font-family: var(--body-font);
        font-size: var(--small-font-size);
        border: none;
        outline: none;
        padding: 4px 8px 8px 0;
        cursor: url(../img/select.png), auto;
    }

    .alert {
        padding: 15px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
      
    .alert-info {
        border-color: #bce8f1;
        color: #31708f;
        background-color: #d9edf7;
    }

    textarea {
        resize: none;
    }

    button {
        cursor: url(../img/link.png), pointer;
    }

    /* FOOTER */

    .footer {
        padding-top: 32px;
    }

    .footer__container {
        row-gap: 54px;
    }

    .footer__bg {
        background: var(--input-color);
        padding: 32px 0 48px;
    }

    .footer__title {
        display: inherit;
        font-size: var(--big-font-size);
        margin-bottom: var(--mb-0-25);
    }

    .footer__subtitle {
        font-size: var(--small-font-size);
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        font-size: var(--h2-font-size);
    }

    .footer__link:hover {
        color: var(--first-color-alt);
    }

    .footer__social {
        font-size: 28px;
        margin-right: var(--mb-1-5);
    }

    .footer__social:hover {
        color: var(--first-color-alt);
    }

    .footer__credit {
        font-size: var(--normal-font-size);
        text-align: center;
        color: var(--first-color);
        margin-top: var(--mb-2);
        margin-bottom: -24px;
    }

    .footer__at {
        font-size: var(--normal-font-size);
        color: var(--first-color);
    }

    .footer__at:hover {
        color: red;
    }

    .footer__copy {
        font-size: var(--small-font-size);
        text-align: center;
        color: var(--text-color-light);
        margin-top: var(--mb-2);
        margin-bottom: -28px;
    }

    .footer__count {
        color: var(--first-color);
        font-size: var(--small-font-size);
        letter-spacing: 1px;
        text-align: center;
        margin-top: var(--mb-2-5);
        margin-bottom: -32px;
    }

    .footer__title,
    .footer__subtitle,
    .footer__link,
    .footer__social {
        color: var(--first-color);
    }

    /* SCROLL UP */

    .scrollup {
        position: fixed;
        right: 24px;
        bottom: -20%;
        background-color: var(--first-color);
        opacity: 0.9;
        padding: 0 3px;
        border-radius: 50%;
        z-index: var(--z-tooltip);
        transition: 0.4s;
    }

    .scrollup:hover {
        background-color: var(--first-color-alt);
    }

    .scrollup__icon {
        font-size: 32px;
        color: var(--body-color);
    }

    /* Show scroll */

    .show-scroll {
        bottom: 80px;
    }

    /* SCROLL BAR */

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb-color);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--first-color);
    }

    /* insert.php */

    .insert__container {
        margin-top: 8%;
    }

    .insert {
        text-align: center;
    }

    /* MEDIA QUERIES */
    /* For small devices */

    @media screen and (max-width: 350px) {
        .container {
            margin-left: var(--mb-1);
            margin-right: var(--mb-1);
        }

        .nav__menu {
            padding: 24px 4px 64px;
        }

        .nav__link {
            font-size: var(--smaller-font-size);
            column-gap: 0;
        }

        .home__content {
            grid-template-columns: 0.25fr 3fr;
        }

        .home__blob {
            width: 180px
        }

        .about__img {
            width: 150px;
        }

        .skills__title {
            font-size: var(--normal-font-size);
        }

        .qualification__data {
            gap: 8px
        }
    }

    /* For medium devices */

    @media screen and (min-width: 568px) {
        .home__content {
            grid-template-columns: max-content 1fr 1fr;
        }

        .home__data {
            margin-left: 25px;
            grid-column: initial;
        }

        .home__img {
            order: 1;
            justify-self: center;
        }

        /* .about__container,
    .skills__container, */
        .project__content,
        .project__container,
        .contact__container,
        .footer__container {
            grid-template-columns: repeat(2, 1fr);
        }

        .qualification__section {
            display: grid;
            grid-template-columns: 0.6fr;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {
        .container {
            margin-left: var(--mb-1-5);
            margin-right: var(--mb-1-5);
        }

        body {
            margin: 0;
        }

        .section {
            padding: 96px 0 32px;
        }

        .section__subtitle {
            margin-bottom: 64px;
        }

        .header {
            top: 0;
            bottom: initial;
        }

        .header,
        main,
        .footer__container {
            padding: 0 16px;
        }

        .nav {
            height: calc(var(--header-height)+ 24px);
            column-gap: 0px;
        }

        .nav__icon,
        .nav__close,
        .nav__toggle {
            display: none;
        }

        .nav__list {
            display: flex;
            column-gap: 20px;
            margin-bottom: -14px;
            margin-right: auto;
        }

        .nav__logo {
            margin-top: 14px;
        }

        .nav__menu {
            margin-left: auto;
        }

        .home__container {
            row-gap: 80px;
        }

        .home__content {
            padding-top: 88px;
            column-gap: 32px;
        }

        .home__blob {
            width: 275px;
        }

        .home__scroll {
            display: block;
        }

        .home__scroll-button {
            margin-left: 80px;
        }

        /* .about__container {
        width: 350px;
    } */
        .about__description {
            text-align: center;
        }

        .about__info {
            justify-content: space-between;
        }

        .about__button {
            justify-content: initial;
        }

        .qualification_button {
            margin: 0 var(--mb-1);
        }

        .qualification__section {
            grid-template-columns: 0.5fr;
        }

        .project__img {
            width: 320px;
        }

        .project__content {
            align-items: center;
        }

        .swiper-button-prev {
            left: -25px;
            top: 105px;
        }

        .swiper-button-next {
            right: -25px;
            top: 105px;
        }

        .swiper-project-icon {
            font-size: 72px;
        }

        .footer__container {
            grid-template-columns: repeat(3, 1fr);
        }

        .footer__bg {
            padding: 48px 0 54px;
        }

        .footer__links {
            flex-direction: row;
            column-gap: 32px;
        }

        .footer__socials {
            justify-self: flex-end;
        }

        .footer__copy,
        .footer__credit {
            margin-top: 40px;
        }
    }

    /* For large devices */

    @media screen and (min-width:1024px) {

        .header,
        .main,
        .footer__container {
            padding: 0;
        }

        .home_blog {
            width: 340px;
        }

        .home__social {
            transform: translateX(10px);
        }

        .about__info {
            justify-content: space-around;
        }

        .project__content {
            column-gap: 80px;
        }

        .swiper-project-icon {
            font-size: 54px;
        }

        .swiper-button-prev {
            left: -54px;
        }

        .swiper-button-next {
            right: -54px;
        }

        .swiper-container-horizontal>.swiper-pagination-bullets {
            bottom: -72px;
        }

        .contact_form {
            width: 460px;
        }

        .contact__input {
            grid-template-columns: repeat(2, 1fr);
        }

        .footer__at:hover {
            font-size: var(--h3-font-size);
            color: red;
            text-decoration: underline;
            transition: 0.5s;
        }

        .footer__count {
            margin-bottom: -42px;
        }
    }

    @media screen and (min-width:1025px) {
        .nav__list {
            display: flex;
            column-gap: 20px;
            margin-bottom: -14px;
            margin-right: 100%;
        }

        .nav__menu {
            margin-left: auto;
        }
    }

    @media screen and (min-width:856px) {

        .home__container,
        .about__container,
        .skills__container,
        .qualification__container,
        .project__container,
        .contact__container {
            column-gap: initial;
            margin: auto;
        }
    }

    @media screen and (width:1024px) {
        .container {
            margin-left: 64px;
            margin-right: 64px;
        }

        .footer__bg {
            padding: 32px 0px 48px;
        }
    }